html{
    height:100%;
    width:100%;
    overflow:auto;
}
body{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}
a{
    text-decoration: none;
    color:#333;
}
ul{
    margin:0px auto;
    padding:0px;
    list-style: none;
}
img{
    display:inline-block;
    border:none;
}
table{
    border-collapse:collapse;
}
td,th{
    border:solid 1px #ddd;
    text-align:left;
    font-weight:normal;
}
.abs {
    position:absolute;
}
.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0.35em 0.6em;
    background:url(../images/bar.png)  repeat-x;
    background-size:contain;
    border-radius: 0.4em;
    border:1px solid #ddd;
}
.btn:hover {
    text-decoration: none;
}
.btn:active {
    position: relative;
    top: 1px;
}
.clr {
    zoom: 1;
    overflow:hidden;
}
.clr:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.cnt{
    margin:0px auto;
    overflow: hidden;
}
.even{
    background:#EFEFEF;
}
.hide{
    display:none;
}
.lft{
    float:left;
}
.rgt{
    float:right;
}
.inb{
    display:inline-block;
}
.list{
    zoom: 1;
    overflow:hidden;
}
.list:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}
.list{
    margin:0px;
    padding:0px;
    list-style: none;
}

.list li{
    float:left;
    padding:0px 5px;
}

.list .first{
    padding-left:2px;
}
.mid{
    vertical-align:middle;
}
.odd{
    background-color:#f7f7f7;
}
.show{
    display:block;
}
