/*
    Created on : 2014-3-28, 22:35:16
    Author     : mou
*/
body{
   // overflow: hidden;
    background-color:#F5F5F5;
}
#tabs{
    height:38px;
    color:#888;
    background:#E2E2E2;
    line-height:38px;
    font-size:18px;
    font-weight:bold;
    text-shadow: 1px 1px 1px #000;
    border-top: 1px solid #F5F5F5;
    border-bottom:1px solid #C1C1C1;
}
.sheet{
    width:calc(100% - 40px);
    margin:20px auto;
}
.sheet .cpt{
    height:38px;
    color:#333;
    line-height:38px;
    font-size:18px;
    padding:0px 10px;
    border:1px solid #ddd;
    border-bottom:none;
    background:url(../images/bar.png) repeat-x 0 0;
}
.sheet table{
    width:100%;
    background:#fff;
    border:1px solid #ddd;
}
.sheet th{
    height:35px;
    padding:0px 10px;
    line-height:35px;
    font-size:14px;
    background:#efefef;
    color:#444;
}
.sheet td{
    height:35px;
    padding:0px 10px;
    line-height:35px;
    font-size:14px;
    color:#666;
}
.sheet td.operate{
    height:60px;
    line-height:60px;
    background:#f7f7f7;
    font-size:14px;
}
.sheet .btn{
    line-height:1.2;
    font-size:12px;
}
.sheet .view{
    width:calc(100% - 12px);
    background:#fff;
    border:1px solid #ddd;
    padding:5px;
}
